<div class="row">
  <div class="col-md-4 col-sm-4">
    <label> sort by </label>
    <select
      class="form-select center"
      #mySelect
      (change)="onChangeSort(mySelect.value)"
    >
      <ng-container *ngFor="let item of ProductOrderBys">
        <option [value]="item">{{ ProductOrderByLabelMapping[item] }}</option>
      </ng-container>
    </select>
  </div>
  <div class="col-md-6 col-sm-4">
    <label> Title</label>
    <input
      type="text"
      class="form-control"
      name="searchName"
      id="searchName"
      #searchName
    />
  </div>
  <div class="col-md-2 col-sm-2 mt-4">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onClickSearch(searchName.value)"
    >
      Search
    </button>
  </div>
</div>
